asgiref==3.7.2
asttokens==2.4.0
backcall==0.2.0
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
decorator==5.1.1
Django==4.2.9
django-db-geventpool==4.0.2
django-redis==5.4.0
executing==2.0.1
factory-boy==3.3.0
Faker==19.6.2
gevent==23.9.1
greenlet==3.0.3
gunicorn==21.2.0
h11==0.14.0
hiredis==2.3.2
idna==3.6
ipython==8.16.1
jedi==0.19.1
matplotlib-inline==0.1.6
packaging==23.2
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pipdeptree==2.13.2
prompt-toolkit==3.0.39
psycogreen==1.0.2
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.16.1
python-dateutil==2.8.2
python-dotenv==1.0.0
redis==5.0.1
requests==2.31.0
setuptools==69.0.3
six==1.16.0
sqlparse==0.4.4
stack-data==0.6.3
tqdm==4.66.1
traitlets==5.11.2
typing_extensions==4.9.0
urllib3==2.1.0
uvicorn==0.25.0
uvloop==0.19.0
wcwidth==0.2.8
zope.event==5.0
zope.interface==6.1
